@model AdminWebBenhVien.EfModels.HenKhamBenh

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/css/Create.css" rel="stylesheet" />
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Thêm sự kiện mới<span style="color:orange"></span></h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Create">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#paneGioiThieu" aria-expanded="false">Thông tin chung</a>
                            </h4>
                        </div>
                        <div id="paneGioiThieu" class="collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FkChuyenKhoa" class="control-label"></label>
                                    <select asp-for="FkChuyenKhoa" class="form-control" asp-items="ViewBag.FkChuyenKhoa"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkBacSi" class="control-label"></label>
                                    <select asp-for="FkBacSi" class="form-control" asp-items="ViewBag.FkBacSi"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NgayHen" class="control-label"></label>
                                    <input asp-for="NgayHen" class="form-control" />
                                    <span asp-validation-for="NgayHen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkGioHen" class="control-label"></label>
                                    <select asp-for="FkGioHen" class="form-control" asp-items="ViewBag.FkGioHen"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MoTaTrieuChung" class="control-label"></label>
                                    <input asp-for="MoTaTrieuChung" class="form-control" />
                                    <span asp-validation-for="MoTaTrieuChung" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NgayGui" class="control-label"></label>
                                    <input asp-for="NgayGui" class="form-control" />
                                    <span asp-validation-for="NgayGui" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DiaChiEmail" class="control-label"></label>
                                    <input asp-for="DiaChiEmail" class="form-control" />
                                    <span asp-validation-for="DiaChiEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HoVaTen" class="control-label"></label>
                                    <input asp-for="HoVaTen" class="form-control" />
                                    <span asp-validation-for="HoVaTen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkNamSinh" class="control-label"></label>
                                    <select asp-for="FkNamSinh" class="form-control" asp-items="ViewBag.FkNamSinh"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GioiTinh" class="control-label"></label>
                                    <input asp-for="GioiTinh" class="form-control" />
                                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkTinhTrangHonNhan" class="control-label"></label>
                                    <select asp-for="FkTinhTrangHonNhan" class="form-control" asp-items="ViewBag.FkTinhTrangHonNhan"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkQuocTich" class="control-label"></label>
                                    <select asp-for="FkQuocTich" class="form-control" asp-items="ViewBag.FkQuocTich"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SoDienThoaiNha" class="control-label"></label>
                                    <input asp-for="SoDienThoaiNha" class="form-control" />
                                    <span asp-validation-for="SoDienThoaiNha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SoDienThoaiDiDong" class="control-label"></label>
                                    <input asp-for="SoDienThoaiDiDong" class="form-control" />
                                    <span asp-validation-for="SoDienThoaiDiDong" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DiaChi" class="control-label"></label>
                                    <input asp-for="DiaChi" class="form-control" />
                                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BacSi" class="control-label"></label>
                                    <input asp-for="BacSi" class="form-control" />
                                    <span asp-validation-for="BacSi" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkTrangThai" class="control-label"></label>
                                    <select asp-for="FkTrangThai" class="form-control" asp-items="ViewBag.FkTrangThai"></select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
