@model Hospital.Web.EfModels.HoatDong

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>HoatDong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiThieu" class="control-label"></label>
                <input asp-for="GioiThieu" class="form-control" />
                <span asp-validation-for="GioiThieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnhMinhHoa" class="control-label"></label>
                <input asp-for="HinhAnhMinhHoa" class="form-control" />
                <span asp-validation-for="HinhAnhMinhHoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkNgonNgu" class="control-label"></label>
                <select asp-for="FkNgonNgu" class="form-control" asp-items="ViewBag.FkNgonNgu"></select>
                <span asp-validation-for="FkNgonNgu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkLoaiHoatDong" class="control-label"></label>
                <select asp-for="FkLoaiHoatDong" class="form-control" asp-items="ViewBag.FkLoaiHoatDong"></select>
                <span asp-validation-for="FkLoaiHoatDong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stt" class="control-label"></label>
                <input asp-for="Stt" class="form-control" />
                <span asp-validation-for="Stt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuotXem" class="control-label"></label>
                <input asp-for="LuotXem" class="form-control" />
                <span asp-validation-for="LuotXem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkNguoiTao" class="control-label"></label>
                <select asp-for="FkNguoiTao" class="form-control" asp-items="ViewBag.FkNguoiTao"></select>
                <span asp-validation-for="FkNguoiTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkNguoiSua" class="control-label"></label>
                <select asp-for="FkNguoiSua" class="form-control" asp-items="ViewBag.FkNguoiSua"></select>
                <span asp-validation-for="FkNguoiSua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySua" class="control-label"></label>
                <input asp-for="NgaySua" class="form-control" />
                <span asp-validation-for="NgaySua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
