@model AdminWebBenhVien.EfModels.SlideShow


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/css/Create.css" rel="stylesheet" />
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Cập nhật slide shows<span style="color:orange"></span></h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Edit">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#paneGioiThieu" aria-expanded="false">Thông tin chung</a>
                            </h4>
                        </div>
                        <div id="paneGioiThieu" class="collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Stt" class="control-label">STT</label>
                                    <input asp-for="Stt" class="form-control" />
                                    <span asp-validation-for="Stt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TieuDe" class="control-label">Tiêu đề</label>
                                    <input asp-for="TieuDe" class="form-control" />
                                    <span asp-validation-for="TieuDe" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                                    <input asp-for="HinhAnh" class="form-control" type="file" />
                                    <span asp-validation-for="HinhAnh" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FkNgonNgu" class="control-label"></label>
                                    <select asp-for="FkNgonNgu" class="form-control" asp-items="ViewBag.FkNgonNgu"></select>
                                    <span asp-validation-for="FkNgonNgu" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="IsNewtab" class="control-label"></label>
                                    <input asp-for="IsNewtab" class="form-control" />
                                    <span asp-validation-for="IsNewtab" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LinkEvent" class="control-label"></label>
                                    <input asp-for="LinkEvent" class="form-control" />
                                    <span asp-validation-for="LinkEvent" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IsLink" class="control-label"></label>
                                    <input asp-for="IsLink" class="form-control" />
                                    <span asp-validation-for="IsLink" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>