@model List<Hospital.Web.EfModels.LichKham>

@using Hospital.Web.Controllers
@{
    ViewBag.Title = "Dich Vụ";
}

@foreach (var item in Model)
{
<table border="1">
    <tr>
        <th>@item.FkLichNgayNavigation.TenThu</th>
        <th>@item.FkPhongKhamNavigation</th>
    </tr>
    <tr>
        <th>@item.Sang</th>
        <th>@item.Sang</th>
    </tr>

</table>
}
