@model Hospital.Web.EfModels.NoiDungTinhChiTiet
@using Hospital.Web.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TieuDe</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Trang chủ </a>/ Bệnh nhân
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" about_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 order-lg-7">
                <div class="about_video_content">
                    <a href="#" class="video_popup">
                        <img src="~/images/img/about2.jpg" alt="">
                        <span class="video_content"><i class="zmdi zmdi-play-circle-outline"></i> Môi trường làm việc của chúng tôi</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about_content">
                    <h1>@Model.TieuDe</h1>
                    <p>@Html.Raw(Model.GioiThieu)</p>
                    <ul>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Hội thảo các tiến bộ trong việc điều trị nếp Võng mạc
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Hội thảo các tiến bộ trong việc điều trị nếp Võng mạc
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Hội thảo các tiến bộ trong việc điều trị nếp Võng mạc
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Hội thảo các tiến bộ trong việc điều trị nếp Võng mạc
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <p class="col-lg-12">@Html.Raw(Model.NoiDung)</p>
            <br />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single_about_box">
                    <h4>Đội ngũ giàu kinh nghiệm</h4>
                    <p>
                        Bệnh viện Quân Dân Y Miền Đông tự hào là một trong những bệnh viện sở hữu đội ngũ y bác sĩ được đào tạo bài bản, giàu kinh nghiệm và chuyên môn.

                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single_about_box">
                    <h4>Ưu tiên hàng đầu</h4>
                    <p>
                        Sức khỏe của bạn là ưu tiên hàng đầu của chúng tôi, tận tình, nhiệt huyết mang lại sự hài lòng và tin tưởng của bệnh nhân.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single_about_box">
                    <h4>Nghiên cứu khoa học</h4>
                    <p>
                        Đánh giá tình hình thị lực , tỷ lệ mắc cận thị học đường của học sinh trường trung học phổ thông trên địa bàn quận 9 năm 2017
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

}