@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
<div class="welcome_areaa" style="background-image: url(../images/img/welcome_shap.png);">
    <div class="container">
        <div class="welcome_slider owl-carousel">
            <div class="single_welcome_slider">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-6">
                        <div class="welcome_content">
                            <h1>Growing up my dolls were doctors and on secret missions.</h1>
                            <p>Alongside Rouhani Referring to the marginalisation of life reformists after the disputed presidential vote then.</p>
                            <a href="#" class="custom_btn">Know more  <i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="w_man"><img src="~/images/img/welcome1.png" alt=""></div>
            </div>
            <div class="single_welcome_slider">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-8">
                        <div class="welcome_content">
                            <h1>Growing up my dolls were doctors and on secret missions.</h1>
                            <p>Alongside Rouhani Referring to the marginalisation of life reformists after the disputed presidential vote then.</p>
                            <a href="#" class="custom_btn">Know more  <i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="w_man"><img src="~/images/img/welcome2.png" alt=""></div>
            </div>
        </div>
    </div>
</div>

<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_detaisl_area">
                    <div class="blog_full_content">
                        <img src="~/images/img/blog_big1.jpg" alt="">
                        <h4>How to handle your kids’ from mystey</h4>
                        <div class="blog_meta">
                            <a href="#">Date: 23 Novembar</a> <a href="#">Like: 173</a> <a href="#">Comment: 56</a>
                        </div>
                        <p>Wednesday scientists near California in have found that, through this process a can filter all of the bay’s water from pound oculus, a lens that will give the impression of seeing the fish from the bottom of a huge cocktail glas. And that’s just one of many attractions and exhibits Officials at the $305 million Phillip and Patricia Frost Muse um of Science promise that it will be a vivid expression of modern scientific inquiry and exposition. Its opening follows a series of setbacks and lawsuits</p>
                        <br>
                        <p>Student at Australian National University and the lead author of a paper published in Nature on Wednesday that may hold the answer. Mr. Jones and his colleagues developed a model that simulates what’s happening in our planet’s mantle, beneath the crust that we live on, offering a window ocesses .</p>
                        <br>
                        <div class="blog_quote">
                            <i class="zmdi zmdi-quote"></i>
                            <p>Promises to open new avenues of research into human prehistory and was met with excitement by geneticists and archaeologists. It’s a bit like discovering that you can extract gold dust from the air,” said Adam Siepel, a population geneticist at Cold Spring Harbor .</p>
                        </div>
                        <br>
                        <p>Would ever be possible to fish out gene fragments that were tens of thousands of years old and buried deep among other genetic debris. Bits of genes from ancient humans make up just a minute fraction of the floating around in the natural world. But the German scientists, led by Matthias Meyer at the Max Planck Institute for Developmental Biology in Tübingen, have spent years developing methods .</p>
                        <div class="tag_and_social_bar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog_tag">
                                        <i class="zmdi zmdi-label"></i>
                                        <a href="#">Benefit</a>
                                        <a href="#">Environment</a>
                                        <a href="#">Treatment</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="share_with">
                                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment_area">
                        <h4>4 Comments</h4>
                        <div class="comment_wraper">
                            <div class="single_comment">
                                <div class="comment_content">
                                    <div class="user_photo" style="background-image: url(../images/img/user1.jpg);"></div>
                                    <div class="user_details">
                                        <strong class="u_name">Keven Feil</strong>
                                        <div class="date"><i class="zmdi zmdi-calendar-note"></i> 05 November 2017</div>
                                        <a href="#" class="replay_btn"><i class="zmdi zmdi-mail-reply"></i> Reply</a>
                                    </div>
                                    <p>Because the animals’ houses were too fragile to be harvested and collected specimens were never able to build houses outside the ocean.To study the zooplankton .</p>
                                </div>
                            </div>
                            <div class="single_comment">
                                <div class="comment_content">
                                    <div class="user_photo" style="background-image: url(../images/img/user2.jpg);"></div>
                                    <div class="user_details">
                                        <strong class="u_name">Keven Feil</strong>
                                        <div class="date"><i class="zmdi zmdi-calendar-note"></i> 05 November 2017</div>
                                        <a href="#" class="replay_btn"><i class="zmdi zmdi-mail-reply"></i> Reply</a>
                                    </div>
                                    <p>Because the animals’ houses were too fragile to be harvested and collected specimens were never able to build houses outside the ocean.To study the zooplankton .</p>
                                </div>
                                <div class="single_comment">
                                    <div class="comment_content">
                                        <div class="user_photo" style="background-image: url(../images/img/user3.jpg);"></div>
                                        <div class="user_details">
                                            <strong class="u_name">Keven Feil</strong>
                                            <div class="date"><i class="zmdi zmdi-calendar-note"></i> 05 November 2017</div>
                                            <a href="#" class="replay_btn"><i class="zmdi zmdi-mail-reply"></i> Reply</a>
                                        </div>
                                        <p>Because the animals’ houses were too fragile to be harvested and collected specimens were never able to build houses outside the ocean.To study the zooplankton .</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_comment">
                                <div class="comment_content">
                                    <div class="user_photo" style="background-image: url(../images/img/user4.jpg);"></div>
                                    <div class="user_details">
                                        <strong class="u_name">Keven Feil</strong>
                                        <div class="date"><i class="zmdi zmdi-calendar-note"></i> 05 November 2017</div>
                                        <a href="#" class="replay_btn"><i class="zmdi zmdi-mail-reply"></i> Reply</a>
                                    </div>
                                    <p>Because the animals’ houses were too fragile to be harvested and collected specimens were never able to build houses outside the ocean.To study the zooplankton .</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment_form">
                            <h4>Leave a Comment</h4>
                            <form action="#" class="contact_form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <input type="text" placeholder="Your name">
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><textarea placeholder="Enter message"></textarea></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="custom_btn">Know more  <i class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget_raper">
                    <form action="#" class="widget_search_bar">
                        <input type="search" placeholder="Search here">
                        <button type="submit"><i class="zmdi zmdi-search"></i></button>
                    </form>
                    <div class="recent_post">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#Popular" role="tab" data-toggle="tab">Popular</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Recent" role="tab" data-toggle="tab">Recent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Comments" role="tab" data-toggle="tab">Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active show" id="Popular">
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog1.jpg);"></span>
                                    <h4>Targeting the Stress of Diabetes</h4>
                                    <span>October 27, 2017</span>
                                </a>
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog2.jpg);"></span>
                                    <h4>Obituary Tells Brutal  of Sister’s</h4>
                                    <span>October 27, 2017</span>
                                </a>
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog5.jpg);"></span>
                                    <h4>Are Sharapova Drugs Solution?</h4>
                                    <span>October 27, 2017</span>
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Recent">
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog6.jpg);"></span>
                                    <h4>Targeting the Stress of Diabetes</h4>
                                    <span>October 27, 2017</span>
                                </a>
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog7.jpg);"></span>
                                    <h4>Obituary Tells Brutal  of Sister’s</h4>
                                    <span>October 27, 2017</span>
                                </a>
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog1.jpg);"></span>
                                    <h4>Are Sharapova Drugs Solution?</h4>
                                    <span>October 27, 2017</span>
                                </a>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Comments">
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog2.jpg);"></span>
                                    <h4>Targeting the Stress of Diabetes</h4>
                                    <span>October 27, 2017</span>
                                </a>
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog3.jpg);"></span>
                                    <h4>Are Sharapova Drugs Solution?</h4>
                                    <span>October 27, 2017</span>
                                </a>
                                <a href="#" class="single_recent_post">
                                    <span class="rp_img" style="background-image: url(../images/img/blog4.jpg);"></span>
                                    <h4>Your Health, Our Mission</h4>
                                    <span>October 27, 2017</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget_menu_bar">
                        <h4>Categories</h4>
                        <ul class="widget_menu">
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Dental care</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Health care</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Laboratory</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Cardiology</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Parenting</a></li>
                            <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Research</a></li>
                        </ul>
                    </div>
                    <div class="widget_tag">
                        <h4>Tags</h4>
                        <ul class="tag_list">
                            <li><a href="#">Clean environment </a></li>
                            <li><a href="#">kids health </a></li>
                            <li><a href="#">blood pressure </a></li>
                            <li><a href="#">body </a></li>
                            <li><a href="#">learning</a></li>
                            <li><a href="#">tips </a></li>
                            <li><a href="#">willpower</a></li>
                            <li><a href="#">Rehabilitation</a></li>
                            <li><a href="#">Treatment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/about.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script>

        jQuery(document).on('ready', function () {
            //slider plugin
            if ($.fn.owlCarousel) {
                //==welcome_area==\\
                var wSlider = $('.welcome_slider');
                wSlider.owlCarousel({
                    items: 1,
                    loop: true,
                    smartSpeed: 500,
                    autoplay: false,
                    mouseDrag: false,
                    touchDrag: false,
                    dots: true,
                    nav: true,
                    navText: ['<i class="zmdi zmdi-chevron-left"></i>', '<i class="zmdi zmdi-chevron-right"></i>']
                });

                //==welcome_area animation==\\
                wSlider.on('translate.owl.carousel', function () {
                    $('.welcome_content h1').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content p').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content a').removeClass('fadeInLeft animated').hide();
                    $('.welcome_area.v3 img').removeClass('fadeInRight animated').hide();
                    $('.w_man').removeClass('fadeInRight animated').hide();
                    $('.welcome_slider form').removeClass('fadeInRight animated').hide();
                });
                wSlider.on('translated.owl.carousel', function () {
                    $('.owl-item.active .welcome_content h1').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content p').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content a').addClass('fadeInLeft animated').show();
                    $('.welcome_area.v3 .owl-item.active img').addClass('fadeInRight animated').show();
                    $('.owl-item.active .w_man').addClass('fadeInRight animated').show();
                    $('.welcome_slider .owl-item.active form').addClass('fadeInRight animated').show();
                });

            };



        });

    </script>
}