
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {


}


<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Contact</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Home </a>/ Contact
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_page_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 offset-md-1 order-md-8">
                <div class="contact_inf_area">
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon1.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Emergency contact</h5>
                            <span>free call 24/ 7</span>
                            <a href="tel:8754666746">(875) 466-6746</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon2.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Home visit</h5>
                            <a href="tel:8754666746">(875) 466-6746</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon3.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Phone contact</h5>
                            <a href="tel:8754666746">(875) 466-6746</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon4.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Email us</h5>
                            <a href="mailto:yframi@yahoo.com">yframi@yahoo.com</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <form action="#" class="contact_form">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <input type="text" placeholder="Your name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <input type="number" placeholder="Phone">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><textarea placeholder="Enter message"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="custom_btn">Know more  <i class="zmdi zmdi-plus"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts {
  <script>
    function change() {
        var value = $("#color").val();
        $("#cap")
                .toggleClass("black-cap", value == 1)
                .toggleClass("orange-cap", value == 2)
                .toggleClass("grey-cap", value == 3);
    };

  
</script>


}