
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Departments</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Home </a>/ Departments
                </div>
            </div>
        </div>
    </div>
</div>
<div class="depertment_area depertment_page_area">
    <div class="container">
        <div class="title_bar">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="depertment_title">
                        <h4>Medifair Departments</h4>
                    </div>
                </div>
                <div class="col-md-6  text-right">
                    <form action="#" class="dept_search_bar">
                        <input type="search" placeholder="Search your Department">
                        <button type="submit"><i class="zmdi zmdi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="custom_row text-center justify-content-center">
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Plastic Surgery</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Rhinonology</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Nurology</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Gastroenterlogy</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Otology</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon5.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Pulmonology</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon6.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Urology</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon7.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Dental care</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon8.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Orthopedies</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon9.png" alt="">
                    </div>
                </div>
            </div>
            <div class="custom_col">
                <div class="single_dept">
                    <a href="#">Eye care</a>
                    <div class="dept_img">
                        <img src="~/images/img/dept_icon10.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
}
