@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
    <div class="breadvroumb_area">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>Service</h1>
                    <div class="breadcroumb_link">
                        <a href="index.html">Home </a>/ Doctor_detail
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="doctor_details_area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="doctor_profile">
                    <img src="~/images/img/doctor_details1.jpg" alt="">
                    <h5>Steven Elliott</h5>
                    <span>Gynaecological Clinic, Pediatrics Clinic</span>
                    <ul class="doctor_data">
                        <li>
                            <h4>Speciality :</h4> Obstetrics and Gynecology
                        </li>
                        <li>
                            <h4>Education :</h4> M.D. of Medicine
                        </li>
                        <li>
                            <h4>Experience :</h4>25 years of Experience in Medicine
                        </li>
                        <li>
                            <h4>Work Days :</h4>Monday, Wednesday, Thursday
                        </li>
                    </ul>
                    <div class="doct0r_contact">
                        <div class="single_contact">
                            <strong>Phone :</strong>
                            <a href="tel:7993764681">(799) 376-4681</a>
                        </div>
                        <div class="single_contact">
                            <strong>Email :</strong>
                            <a href="mailto:dbergnaum@gmail.com">dbergnaum@gmail.com</a>
                        </div>
                    </div>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="doctor_history">
                    <div class="single_doctor_history">
                        <h2>Steven Elliott</h2>
                        <p>Student at Australian National University and the lead author of a paper published in Nature on Wednesday that may hold the answer. Mr. Jones and his colleagues developed a model that simulates what’s happening in our planet’s mantle beneat the crust that we live on, offering a window to the center of the .</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Royal Melbourne Hospital -Melbourne</h2>
                        <h5>Aug 2010 to July 2011</h5>
                        <p>Cassini would be traveling at more than 70,000 miles per hour as it passed within 2,000 miles of the cloud tops, and a chance hit with a sand grain could be trouble. The analysis indicated that the chances of such a collision were slim, but still risky enough that mission managers did not send .</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Royal Melbourne Hospital -Melbourne</h2>
                        <h5>Aug 2010 to July 2011</h5>
                        <p>Cassini would be traveling at more than 70,000 miles per hour as it passed within 2,000 miles of the cloud tops, and a chance hit with a sand grain could be trouble. The analysis indicated that the chances of such a collision were slim, but still risky enough that mission managers did not send .</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Royal Melbourne Hospital -Melbourne</h2>
                        <h5>Aug 2010 to July 2011</h5>
                        <p>Cassini would be traveling at more than 70,000 miles per hour as it passed within 2,000 miles of the cloud tops, and a chance hit with a sand grain could be trouble. The analysis indicated that the chances of such a collision were slim, but still risky enough that mission managers did not send .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="doctor_related">
                    <h5>Related Doctors</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor9.jpg" alt="">
                    </a>
                    <h5>Tracey Wolf</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor10.jpg" alt="">
                    </a>
                    <h5>Elyse Schulist</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor11.jpg" alt="">
                    </a>
                    <h5>Doug Koepp</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor12.jpg" alt="">
                    </a>
                    <h5>Robyn Wehner</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/about.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script>

        jQuery(document).on('ready', function () {
            //slider plugin
            if ($.fn.owlCarousel) {
                //==welcome_area==\\
                var wSlider = $('.welcome_slider');
                wSlider.owlCarousel({
                    items: 1,
                    loop: true,
                    smartSpeed: 500,
                    autoplay: false,
                    mouseDrag: false,
                    touchDrag: false,
                    dots: true,
                    nav: true,
                    navText: ['<i class="zmdi zmdi-chevron-left"></i>', '<i class="zmdi zmdi-chevron-right"></i>']
                });

                //==welcome_area animation==\\
                wSlider.on('translate.owl.carousel', function () {
                    $('.welcome_content h1').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content p').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content a').removeClass('fadeInLeft animated').hide();
                    $('.welcome_area.v3 img').removeClass('fadeInRight animated').hide();
                    $('.w_man').removeClass('fadeInRight animated').hide();
                    $('.welcome_slider form').removeClass('fadeInRight animated').hide();
                });
                wSlider.on('translated.owl.carousel', function () {
                    $('.owl-item.active .welcome_content h1').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content p').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content a').addClass('fadeInLeft animated').show();
                    $('.welcome_area.v3 .owl-item.active img').addClass('fadeInRight animated').show();
                    $('.owl-item.active .w_man').addClass('fadeInRight animated').show();
                    $('.welcome_slider .owl-item.active form').addClass('fadeInRight animated').show();
                });

            };



        });

    </script>
}