@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
    <div class="breadvroumb_area">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>Doctor</h1>
                    <div class="breadcroumb_link">
                        <a href="index.html">Home </a>/ Doctor
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="doctor_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor1.jpg" alt="">
                    </a>
                    <h5>Steven Elliott</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor2.jpg" alt="">
                    </a>
                    <h5>Steven Elliott</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor3.jpg" alt="">
                    </a>
                    <h5>Steven Elliott</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor4.jpg" alt="">
                    </a>
                    <h5>Steven Elliott</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor5.jpg" alt="">
                    </a>
                    <h5>Herminia Lowe</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor6.jpg" alt="">
                    </a>
                    <h5>Darion Koepp</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor7.jpg" alt="">
                    </a>
                    <h5>Zelma Connelly</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor8.jpg" alt="">
                    </a>
                    <h5>Sophie Welch</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor9.jpg" alt="">
                    </a>
                    <h5>Tracey Wolf</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor10.jpg" alt="">
                    </a>
                    <h5>Elyse Schulist</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor11.jpg" alt="">
                    </a>
                    <h5>Doug Koepp</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor12.jpg" alt="">
                    </a>
                    <h5>Robyn Wehner</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/js/about.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script>

        jQuery(document).on('ready', function () {
            //slider plugin
            if ($.fn.owlCarousel) {
                //==welcome_area==\\
                var wSlider = $('.welcome_slider');
                wSlider.owlCarousel({
                    items: 1,
                    loop: true,
                    smartSpeed: 500,
                    autoplay: false,
                    mouseDrag: false,
                    touchDrag: false,
                    dots: true,
                    nav: true,
                    navText: ['<i class="zmdi zmdi-chevron-left"></i>', '<i class="zmdi zmdi-chevron-right"></i>']
                });

                //==welcome_area animation==\\
                wSlider.on('translate.owl.carousel', function () {
                    $('.welcome_content h1').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content p').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content a').removeClass('fadeInLeft animated').hide();
                    $('.welcome_area.v3 img').removeClass('fadeInRight animated').hide();
                    $('.w_man').removeClass('fadeInRight animated').hide();
                    $('.welcome_slider form').removeClass('fadeInRight animated').hide();
                });
                wSlider.on('translated.owl.carousel', function () {
                    $('.owl-item.active .welcome_content h1').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content p').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content a').addClass('fadeInLeft animated').show();
                    $('.welcome_area.v3 .owl-item.active img').addClass('fadeInRight animated').show();
                    $('.owl-item.active .w_man').addClass('fadeInRight animated').show();
                    $('.welcome_slider .owl-item.active form').addClass('fadeInRight animated').show();
                });

            };



        });

    </script>
}