@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
    <div class="breadvroumb_area">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>Thông tin nhân viên</h1>
                    <div class="breadcroumb_link">
                        <a href="index.html">Trang chủ </a>/ Thông tin nhân viên
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="doctor_details_area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="doctor_profile">
                    <img src="~/images/img/doctor_details1.jpg" alt="">
                    <h5>Nguyễn Văn Vân</h5>
                    <span>Phòng khám phụ khoa, Phòng khám nhi khoa</span>
                    <ul class="doctor_data">
                        <li>
                            <h4>Chuyên khoa :</h4> Sản phụ khoa
                        </li>
                        <li>
                            <h4>Trình độ :</h4> Thạc sĩ y khoa
                        </li>
                        <li>
                            <h4>Kinh nghiệm :</h4>25 năm kinh nghiệm trong ngành y
                        </li>
                        <li>
                            <h4>Thời gian làm việc :</h4>Thứ Hai, Thứ Tư, Thứ Năm
                        </li>
                    </ul>
                    <div class="doct0r_contact">
                        <div class="single_contact">
                            <strong>Phone :</strong>
                            <a href="#">(086) 376-4111</a>
                        </div>
                        <div class="single_contact">
                            <strong>Email :</strong>
                            <a href="#">BsNVV@gmail.com</a>
                        </div>
                    </div>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="doctor_history">
                    <div class="single_doctor_history">
                        <h2>Nguyễn Văn Vân</h2>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Đơn vị công tác</h2>
                        <h5>08/2010 đến 08/2011</h5>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Đơn vị công tác</h2>
                        <h5>08/2010 đến 08/2011</h5>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Đơn vị công tác</h2>
                        <h5>08/2010 đến 08/2011</h5>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="doctor_related">
                    <h2>Bác sĩ liên quan</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor9.jpg" alt="">
                    </a>
                    <h5>Nguyễn Hiền</h5>
                    <span>Bác sĩ</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor10.jpg" alt="">
                    </a>
                    <h5>Nguyễn Hiền</h5>
                    <span>Bác sĩ</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor11.jpg" alt="">
                    </a>
                    <h5>Nguyễn Hiền</h5>
                    <span>Bác sĩ</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="~/images/img/doctor12.jpg" alt="">
                    </a>
                    <h5>Nguyễn Hiền</h5>
                    <span>Bác sĩ</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/about.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script>

        jQuery(document).on('ready', function () {
            //slider plugin
            if ($.fn.owlCarousel) {
                //==welcome_area==\\
                var wSlider = $('.welcome_slider');
                wSlider.owlCarousel({
                    items: 1,
                    loop: true,
                    smartSpeed: 500,
                    autoplay: false,
                    mouseDrag: false,
                    touchDrag: false,
                    dots: true,
                    nav: true,
                    navText: ['<i class="zmdi zmdi-chevron-left"></i>', '<i class="zmdi zmdi-chevron-right"></i>']
                });

                //==welcome_area animation==\\
                wSlider.on('translate.owl.carousel', function () {
                    $('.welcome_content h1').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content p').removeClass('fadeInLeft animated').hide();
                    $('.welcome_content a').removeClass('fadeInLeft animated').hide();
                    $('.welcome_area.v3 img').removeClass('fadeInRight animated').hide();
                    $('.w_man').removeClass('fadeInRight animated').hide();
                    $('.welcome_slider form').removeClass('fadeInRight animated').hide();
                });
                wSlider.on('translated.owl.carousel', function () {
                    $('.owl-item.active .welcome_content h1').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content p').addClass('fadeInLeft animated').show();
                    $('.owl-item.active .welcome_content a').addClass('fadeInLeft animated').show();
                    $('.welcome_area.v3 .owl-item.active img').addClass('fadeInRight animated').show();
                    $('.owl-item.active .w_man').addClass('fadeInRight animated').show();
                    $('.welcome_slider .owl-item.active form').addClass('fadeInRight animated').show();
                });

            };



        });

    </script>
}