@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {

<link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/owl.carousel.min.css">



}
<div class="welcome_areaa" style="background-image: url(../images/img/welcome_shap.png);">
    <div class="container">
        <div class="welcome_slider owl-carousel">
            <div class="single_welcome_slider">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-6">
                        <div class="welcome_content">
                            <h1>Growing up my dolls were doctors and on secret missions.</h1>
                            <p>Alongside Rouhani Referring to the marginalisation of life reformists after the disputed presidential vote then.</p>
                            <a href="#" class="custom_btn">Know more  <i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="w_man"><img src="~/images/img/welcome1.png" alt=""></div>
            </div>
            <div class="single_welcome_slider">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-8">
                        <div class="welcome_content">
                            <h1>Growing up my dolls were doctors and on secret missions.</h1>
                            <p>Alongside Rouhani Referring to the marginalisation of life reformists after the disputed presidential vote then.</p>
                            <a href="#" class="custom_btn">Know more  <i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="w_man"><img src="~/images/img/welcome2.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- Welcome Area End-->
<!-- About Area Start-->
<div class="about_area background_grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="about">
                    <div class="box_news">
                        <div class="title_newsTinTuc">
                            <div class="color-title">
                            </div>
                            <h2>
                                HỎI ĐÁP
                            </h2>
                            <div class="repeat-title">
                            </div>
                        </div>
                       
                        <div class="dichvu-box">
                            <div class="col-md-12 hoi_dap">
                                <h4><a href="">Xin BS tư vấn kết quả Viêm gan C </a></h4>
                                <p>
                                    <span>Câu hỏi:</span> Đọc giả: Trần Tiến Đạt , đ/c: Hiệp nhất, phường 4 , Tân bình, HCM. Hỏi: Em chào BS. Em năm nay 22t, vừa ra trường chưa có công việc, gia đình thì không có điều kiện nên em có 1 số thắc mắc muốn nhờ BS giải đáp giúp em. Cách đây 2 năm em có đi hiến máu và được bs nói liên quan đến C nhưng không nói viêm gan C, nên em không đi XN. Cách đây 1 tháng em có đi XN ở viện Pasteur và có kết quả Dương tính với viêm gan C. Do bs ở viện tư vấn em vẫn chưa cảm thấy được thoải mái nên em mong Bs giúp đỡ em để em có thể yên tâm.

                                    Thắc Mắc1: Em xem bảng giá XN định lượng HCV ở viện là 520.000Đ, Do lúc XN đầu gặp BS tư vấn BS ghi em cần XN thêm các loại XN như sau: Định lượng HCV TaqMAN, AST, ALT, GGT, A.F.P. Khi đi XN lần 2 em ghi các XN như BS tư vấn thì em thấy phí  XN của HCV taqman 1tr300, cao hơn XN định lượng bình thường, nên em mong BS có thể giải đáp giúp em 2 loại XN này khác nhau như thế nào.

                                    Thắc mắc 2: Kết quả XN lần 2 của em như thế này, em cũng có gặp BS tư vấn, nhưng em vẫn không hiểu cho lắm, BS lúc đầu hỏi gia đình và công việc của em nên BS khuyên 3 tháng sau XN lại vì bây giờ điều trị khá là tốn kém mà gia đình và em không thể nào đáp ứng được.

                                    Kết quả: Định lượng HCV taqman 4.740.000 IU/mL ( Ngưỡng 40 copies/ml).

                                    ~ 12 798 000 copies/mL.

                                    4.74E+6(6.68)IU/mL.
                                </p>
                                <p>
                                    <span>Trả lời:</span>

                                    Chào bạn Trần Tiến Đạt

                                    Câu hỏi thắc mắc của bạn cũng là mối quan tâm của nhiều người. Viêm gan do siêu vi viêm gan B hay do siêu vi viêm gan C (trong tư vấn các nhà chuyên môn hay gọi tắt là viêm gan B hay viêm gan C). Trong giai đoạn sớm người bệnh không có triệu chứng thường phát hiện tình cờ như đi hiến máu hay khám sức khỏe định kỳ... Khi phát hiện nhiễm siêu vi viêm gan B hay siêu vi viêm gan C. Trước tiên phải xét nghiệm để đánh giá đây là nhiễm cấp hay mạn và ở giai đoạn nào.

                                    Bạn được phát hiện viêm gan siêu vi C được bác sĩ tư vấn cần làm xét nghiệm trong đó có xét nghiệm định lượng HCV (HCV RNA). Hiện nay, có nhiều phương pháp làm trong đó phương pháp cũ: phương pháp này phát hiện viêm gan siêu vi C ở ngưỡng  ≤ 250 copies/ml có giá từ 520.000 – 900.000 Đ tùy bộ kit sản xuất nội hay ngoại. Hiện nay trên thế giới, hướng dẫn điều trị viêm gan siêu vi C cần xét nghiệm phát hiện HCV ở ngưỡng ≤ 40 copies/ml hay ngưỡng  ≤ 15 copies/ml như kỹ thuật TaqMAN hay COBAS TaqMan đây là kỹ thuật mới đắt tiền hơn. Ở Việt Nam kỹ thuật này có giá khoảng1tr3.

                                    Kết quả xét nghiệm của bạn Định lượng HCV TaqMan 4.740.000 IU/mL ( Ngưỡng 40 copies/ml)

                                    ~ 12 798 000 copies/mL. AST: 26.9: nghĩa bạn đã nhiễm viêm gan siêu vi C nhưng men gan AST bình thường còn ALT bạn không cung cấp nên không rõ men gan có tăng hay không nếu ALT ≥ 2 lần giới hạn trên thì bạn có chỉ định điều trị viêm gan siêu vi C, còn nếu ALT bình thường bạn cần sinh thiết gan hay Fibroscan để quyết định điều trị hay không, vì khoảng 10-15% viêm gan siêu vi C hoạt động nhưng men gan bình thường.

                                    Khi điều trị bạn nên thực hiện tất cà các xét nghiệm: xác định chức năng gan, công thức máu yếu tố đông máu, AFP, chức năng tuyến giáp, siêu âm bụng khào sát gan… và Genotype HCV để tiên lượng cuộc điều trị này dễ hay khó thời gian điều trị trung bình 24 tuần hay 48 tuần (xét nghiệm này khá đắt tiền).

                                    Chúc bạn khỏe

                                    Ths Bs Võ Hồng Minh Công - Trưởng Khoa Nội Tiêu Hóa - BV Nhân Dân Gia Định
                                </p>

                            </div>
                        </div>
                       
                        <div class="next_prev">
                            <a href="">|&lt;</a>
                            <a href="">&lt;&lt;</a>
                            <a href="">1</a>
                            <a href="">2</a>
                            <a class="active" href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                            <a href="">6</a>
                            <a href="">7</a>
                            <a href="">&gt;&gt;</a>
                            <a href="">&gt;|</a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="video">
                    <div class="title_video">
                        Video
                    </div>
                    <iframe width="272" height="237" src="http://www.youtube.com/embed/6_ePYRcNFoY" frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div class="video">
                    <div class="title_video">
                        <p>
                            Hỗ trợ trực tuyến
                        </p>
                    </div>
                    <div class="bg_httt">
                        <a href="">
                            <img style="width: 72px; height: 22px; margin: 112px 0 0 10px" src="~/images/skype.jpg"
                                 alt="" />
                        </a> <a href="">
                            <img src="~/images/yahoo.jpg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="video">
                    <div class="title_video">
                        <p class="sk">Sự kiện</p>
                    </div>
                    <div class="bg_httt2">
                        <div class="bg_1">
                            <div class="bottom_img">
                                <a href="">Chương trình thẻ hội viên</a>
                            </div>
                        </div>
                        <a href="">
                            <img src="~/images/sk2.jpg" alt="" />
                        </a> <a href="">
                            <img src="~/images/sk3.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
<script src="~/js/owl.carousel.min.js"></script>
<script>

    jQuery(document).on('ready', function () {
        //slider plugin
        if ($.fn.owlCarousel) {
            //==welcome_area==\\
            var wSlider = $('.welcome_slider');
            wSlider.owlCarousel({
                items: 1,
                loop: true,
                smartSpeed: 500,
                autoplay: false,
                mouseDrag: false,
                touchDrag: false,
                dots: true,
                nav: true,
                navText: ['<i class="zmdi zmdi-chevron-left"></i>', '<i class="zmdi zmdi-chevron-right"></i>']
            });

            //==welcome_area animation==\\
            wSlider.on('translate.owl.carousel', function () {
                $('.welcome_content h1').removeClass('fadeInLeft animated').hide();
                $('.welcome_content p').removeClass('fadeInLeft animated').hide();
                $('.welcome_content a').removeClass('fadeInLeft animated').hide();
                $('.welcome_area.v3 img').removeClass('fadeInRight animated').hide();
                $('.w_man').removeClass('fadeInRight animated').hide();
                $('.welcome_slider form').removeClass('fadeInRight animated').hide();
            });
            wSlider.on('translated.owl.carousel', function () {
                $('.owl-item.active .welcome_content h1').addClass('fadeInLeft animated').show();
                $('.owl-item.active .welcome_content p').addClass('fadeInLeft animated').show();
                $('.owl-item.active .welcome_content a').addClass('fadeInLeft animated').show();
                $('.welcome_area.v3 .owl-item.active img').addClass('fadeInRight animated').show();
                $('.owl-item.active .w_man').addClass('fadeInRight animated').show();
                $('.welcome_slider .owl-item.active form').addClass('fadeInRight animated').show();
            });

        };



    });

</script>

}