<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital.Web</title>

    <link href="~/lib/kendo-2018.3/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-2018.3/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-2018.3/kendo.material.min.css" rel="stylesheet" />

    <script src="~/lib/kendo-2018.3/jquery.min.js"></script>
    <script src="~/lib/kendo-2018.3/jszip.min.js"></script>
    <script src="~/lib/kendo-2018.3/kendo.all.min.js"></script>
    <script src="~/lib/kendo-2018.3/kendo.aspnetmvc.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/stylev1.css" />
        <link rel="stylesheet" href="~/css/site.css" />



    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="~/css/style.css" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
   
    

    @RenderSection("css", required: false)




</head>
<body>


    <div class="preloader">
        <img src="~/images/img/preloader.gif" alt="">
    </div>
    <header>
        <div class="header_top_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="htl">
                            <p>Welcome to our medical care!</p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 text-right">
                        <div class="htr">
                            <a href="#" class="htr_single_contact"><i class="far fa-sign-in-alt"></i>Đăng ký</a>
                            <a href="#" class="htr_single_contact"><i class="zmdi zmdi-sign-in"></i>Đăng nhập</a>
                            <a href="#" class="htr_single_contact"><i class=""></i>Sơ đồ trang</a>
                            <a class="vn" href="">
                                <img src="~/images/vn.jpg" alt="" />
                            </a> <a class="el" href="">
                                <img src="~/images/vn-03.jpg" alt="" />
                            </a>
                            <a href="#" class="htr_single_contact"><i class=""></i>Thư góp ý</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="header_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-6">
                        <a href="#" class="site_logo">
                            <img src="~/images/logo.jpg" alt="" width="100" height="100" />
                        </a>

                    </div>
                    <div class="col-lg-8 text-center col-6" >
                       
                        <h1 id="TextSilder">BỆNH VIỆN QUÂN DÂN Y MIỀN ĐÔNG</h1>
                        <h3 id="TextSilder">Hết lòng vì người bệnh</h3>
                    </div>
                </div>
                <div class="row" id="TextSilder">
                    <div class="col-lg-12 text-center col-6">
                        <nav class="menu_bar">
                            <ul class="main_menu">
                                <li><a href="index.html">Trang chủ</a></li>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                    <ul>
                                        <li><a href="#">Ban Giám đốc</a></li>
                                        <li><a href="#">Lịch sử hình thành</a></li>
                                        <li><a href="#">Chức năng nhiệm vụ</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Kĩ thuật</a></li>
                                <li>
                                    <a href="#">Dịch vụ</a>
                                    <ul>
                                        <li><a href="#">Sức khỏa định kỳ</a></li>
                                        <li><a href="#">Phẩu thuật kỹ thuật cao</a></li>
                                        <li><a href="#">Dịch vụ kỹ thuật cao RHM</a></li>
                                    </ul>
                                </li>
                                <li><a href="">Tin tức</a></li>
                                <li><a href="">Đề tài nghiên cứu khoa học</a></li>
                                <li><a href="">Liên hệ</a></li>

                            </ul>
                            <form action="#" class="search_form">
                                <input type="search" placeholder="Search here">
                                <button type="submit"><i class="fas fa-search" style="color:white"></i></button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Content here-->
    @RenderBody()
    <!-- Footer Area Start-->
    <footer>
        <div class="footer">
            <div class="body-footer">
                <div class="class="col-lg-12 col-md-12 text-right"">
                    <div class="row" id="menu_footer">
                        <div class="col-md-6 col-lg-2 col-12">
                            <div class="footer_widget">
                                <ul class="widget_menu">
                                    <li><a href="#"><i></i> Diễn đàn</a></li>
                                    <li><a href="#"><i></i> Trang chủ</a></li>
                                    <li><a href="#"><i></i> Giới thiệu chung</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-12">
                            <div class="footer_widget">
                                <ul class="widget_menu">
                                    <li><a href="#"><i></i>Sitemap</a></li>
                                    <li><a href="#"><i></i> Quy định chung</a></li>
                                    <li><a href="#"><i></i>Dịch vụ y tế</a></li>
                                    <li><a href="#"><i></i> Thẻ thành viên</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-12">
                            <div class="footer_widget">
                                <ul class="widget_menu">
                                    <li><a href="#"><i></i> Xét nghiệm</a></li>
                                    <li><a href="#"><i></i> Điều trị nội trú</a></li>
                                    <li><a href="#"><i></i> Đăng ký khám bệnh</a></li>
                                    <li><a href="#"><i></i> Đặt hẹn trực tuyến</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 col-12">
                            <div class="footer_widget">
                                <ul class="widget_menu">
                                    <li><a href="#"><i></i> Hướng dẫn khám bệnh</a></li>
                                    <li><a href="#"><i></i> Tư vấn sức khỏe</a></li>
                                    <li><a href="#"><i></i> Dịch vụ chuyên khoa</a></li>
                                    <li><a href="#"><i></i> Chương trình trọn gói</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-12">
                            <div class="footer_widget">
                                <p class="diachi">
                                    <b>BỆNH VIỆN QUÂN DÂN MIỀN ĐÔNG</b><br />
                                    Địa chỉ: 50 Lê Văn Việt, P.Hiệp Phú, Q.9, TP.HCM<br />
                                    Điện thoại: 08. 38 960 054 - Fax: 08. 37 307 125<br />
                                    Email: quandanmiendong@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright_area">
                <div class="container">
                    <div class="
                         ">
                        <div class="col">
                            <span>Copyright © 2013 Quan Dan Mien Dong Hospital. Alright reserved. </span><a href="">
                                <img src="~/images/face-icon.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

     
    <script>
        $(document).ready(function () {
            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
            $('.preloader').fadeOut(3000);
        });

        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>

</body>
</html>
