@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

}
    <div class="breadvroumb_area">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h1>Blog</h1>
                    <div class="breadcroumb_link">
                        <a href="index.html">Trang chủ </a>/ Blog
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="blog_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                @foreach (var tinTuc in Model)
                {
                    <div class="single_blog">
                        <div class="blog_img">
                            <img src="~/images/img/blog1.jpg" alt="">
                            @*<img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_TIN_TUC + tinTuc.HinhAnhMinhHoa)" />*@
                        </div>
                        <div class="blog_content">
                            <div class="blog_meta">
                                <a href="#" class="date">
                                    <span>@Html.Raw(tinTuc.NgayTao)</span>
                                </a>
                                <a href="#" class="comment_box">
                                    <i class="zmdi zmdi-comments"></i> 3
                                </a>
                            </div>
                            <h4>@Html.Raw(tinTuc.TieuDe)</h4>
                            <p>@Html.Raw(tinTuc.GioiThieu)</p>
                            <a class="read_btn" href="#">Xem thêm  <i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                }
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="paginations_bar">
                    <ul class="paginations_menu">
                        <li class="nav prev"><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li class="nav next"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


@section scripts {
   
}