
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Chi tiết dịch vụ</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Trang chủ </a>/ Chi tiết dịch vụ
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- ServiceDetailss Area Start-->
<div class="service_details_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="service_details_wraper">
                    <img src="~/images/img/service_details1.jpg" alt="">
                    <h4>Đơn vị cấp cứu</h4>
                    <p>Bệnh viện Quân Dân Miền Đông có đội xe cứu thương được trang bị dụng cụ cấp cứu đồng bộ, đầy đủ. Nhân viên lái xe cứu thương được huấn luyện chuyên biệt, cùng với nhân viên y tế sẵn sàng nhận đưa, đón người bệnh theo yêu cầu.</p>
                    <br>
                    <br>
                    <p>Bệnh viện Quân Dân Miền Đông nhận hợp đồng cung cấp dịch vụ xe cứu thương 24/24 cho các cơ quan, đơn vị trên địa bàn (bán kính dưới 15km):</p>
                    <br>
                    <div class="service_quote">
                        <i class="zmdi zmdi-quote"></i>
                        <h4>
                            Hãy gọi và cung cấp thông tin cho chúng tôi: Địa chỉ chính xác của người bệnh cần hỗ trợ cấp cứu.Tình trạng người bệnh càng chi tiết càng tốtTổ cấp cứu khẩn cấp của bệnh viện sẽ có mặt ngay trong vòng 15 phút.
                        </h4>
                        <h3>Số điện thoại liên lạc: 0988 929 059</h3>
                    </div>
                    <br>
                    <ul class="service_list_items">
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> would ever be possible to fish out gene fragments
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> limited by the availability of fossil bones.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Crust on a peninsula in western Russia But now.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> especially significant in a state imperiled by rising
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> limited by the availability of fossil bones.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Crust on a peninsula in western Russia But now.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> especially significant in a state imperiled by rising
                        </li>
                    </ul>
                    <br>
                    <p>Nhân viên lái xe cứu thương được huấn luyện chuyên biệt, cùng với nhân viên y tế sẵn sàng nhận đưa, đón người bệnh theo yêu cầu.Bệnh viện Quân Dân Miền Đông nhận hợp đồng cung cấp dịch vụ xe cứu thương 24/24 cho các cơ quan, đơn vị trên địa bàn </p>
                  
                </div>
            </div>
            <div class="col-md-6">
                <div class="section_title">
                    <h1>Thực hiện ngay bây giờ!</h1>
                    <p>Hứa hẹn sẽ mở ra những con đường nghiên cứu mới về tiền sử của con người và đã được các nhà di truyền học và sự phấn khích đáp ứng.</p>
                </div>
                <form action="#" class="contact_form">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="text" placeholder="Tên của bạn">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            @(Html.Kendo().DatePicker()
.Name("dateofBirth")
.Value("10/10/2011")
.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                            )
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <input type="number" placeholder="Số ddienj thoại">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            @(Html.Kendo().DropDownList()
.Name("color")
.DataTextField("Text")
.DataValueField("Value")
.Events(e => e.Change("change"))
.BindTo(new List<SelectListItem>() {
                        new SelectListItem() {
                        Text = "Black",
                        Value = "1"
                        },
                        new SelectListItem() {
                        Text = "Orange",
                        Value = "2"
                        },
                        new SelectListItem() {
                        Text = "Grey",
                        Value = "3"
                        }
})
.Value("1")
.HtmlAttributes(new { style = "width: 100%" })
                            )

                        </div>
                        <div class="col-lg-6 col-md-12">
                           
                                @(Html.Kendo().DatePicker()
.Name("datepicker")
.Value("10/10/2011")
.HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                                )
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <textarea placeholder="Nhập nội dung"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="custom_btn">Gửi <i class="zmdi zmdi-plus"></i></button>
                        </div>
                    </div>
                </form>
                <div class="more_service_area">
                    <h1>Dịch vụ y tế</h1>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service1.png" alt=""></span>
                                <h4>Chăm sóc sức khỏe</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service2.png" alt=""></span>
                                <h4>Trình độ bác sĩ</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service3.png" alt=""></span>
                                <h4>Xe cứu thương</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service4.png" alt=""></span>
                                <h4>Drag store</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service5.png" alt=""></span>
                                <h4>Thử nghiệm DNA</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service6.png" alt=""></span>
                                <h4>Outdoor Checkup</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service7.png" alt=""></span>
                                <h4>Thử nghiệm DNA</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="~/images/img/service8.png" alt=""></span>
                                <h4>Thử nghiệm DNA</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
    function change() {
        var value = $("#color").val();
        $("#cap")
                .toggleClass("black-cap", value == 1)
                .toggleClass("orange-cap", value == 2)
                .toggleClass("grey-cap", value == 3);
    };


    </script>
}
